///general...........................
*{
	box-sizing: border-box;
}
.winner{
     background-color: #f7f7f7;
}
.active {
    color: #87C540;
}
button {
    position: absolute;
    transform: translateX(-50%);
    left: 50%;
    border: none !important;
    cursor: pointer !important;
    background: no-repeat;
    width: 200px;
    font-family: Lato;
    text-transform: uppercase;
}
button:focus{
	outline: none !important;
}
button:hover{
    font-weight: 600;
}

button:hover i{
    margin-right: 20px !important;
}
i {
    margin-right: 15px;
    font-size: 30px;
    color: #87C540;
    margin-top: 35pxx;
    /* padding-top: 29px; */
    text-align: ver;
    vertical-align: text-top;
    line-height: 1;
    margin-top: -4px;
    display: inline-block;
    transition: margin 0.3s;
}

body{
	padding: 0px;
	margin: 0px;
	font-family: Lato;
	font-family: 14px;
}
.wrapper {
    width: 1000px;
    position: absolute;
    top: 50%;
    transform: translate(-50%, -50%);
    left: 50%;
    box-shadow: 0px 10px 15px rgba(0, 0, 0, 0.3);
}
.player-0-panel,.player-1-panel {
    width: 50%;
    height: 600px;
    padding: 100px;
    float: left;
}
.clearfix{
	clear: both;
	content: "";
	display: table;
}
.player_name{}
.player_score {
    margin-bottom: 154px;
    font-size: 79px;
    color: #87C540;
    text-align: center;
    font-weight: 200;
}
.player-current-box {
    width: 40%;
    text-align: center;
    background: #87C540;
    /* height: 80px; */
    /* position: absolute; */
    /* transform: translateX(-50%); */
    margin: auto;
    padding: 6px;
}
.current-player-label{}
.current-player-score {
    color: #fff;
    font-size: 27px;
    /* position: absolute; */
}
.player-1-panel{
}
.palyer_name{
    text-align: center;
    font-size: 40px;
    text-transform: UPPERCASE;
    font-family: Lato;
    letter-spacing: 2px;
}
.player_score{}
.player-current-box{}
.btn-new {
    /* position: absolute; */
    top: 45px;
    text-align: center;
    font-size: 20px;
}
.btn-roll {
    top: 68%;
    font-size: 20px;
}
input {
    position: absolute;
    top: 89%;
    left: 42%;
    padding: 5px;
    text-align: center;
}
.btn-hold {
    top: 77%;
    font-size: 20px;
}
#name-0{}
#score-0{}
#current-0{}
#current-1{

}
#score-1{}
#name-1{}


img {
    width: 100px;
    height: 100px;
    position: absolute;
    transform: translateX(-50%);
    top: 27%;
    left: 50%;
}
.{}